<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreMotionTutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>692215A01CDE5FF400DD1FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>692215B41CDE5FF500DD1FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>692215BF1CDE5FF500DD1FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
